<div class="hero-unit">
  <p><strong>Github Contributors</strong> is a little site to watch, all in one place, open source contributions made by a Github user. Use the search field in the top of the page, or check the <a href="/faq">FAQ</a> to learn more.</p>
</div>
