<div class="hero-unit">
  <p><strong>GitHub Contributors</strong> is a little site to watch, all in one place, open source contributions made by a GitHub user. Use the search field in the top of the page, or check the <a href="/faq">FAQ</a> to learn more.</p>
  <p>For example:</p>
  <ul>
    <li><a href="/torvalds">torvalds</a></li>
    <li><a href="/tenderlove">tenderlove</a></li>
    <li><a href="/dhh">dhh</a></li>
    <li><a href="/josevalim">josevalim</a></li>
    <li><a href="/jashkenas">jashkenas</a></li>
    <li><a href="/paulirish">paulirish</a></li>
    <li><a href="/jeresig">jeresig</a></li>
    <li><a href="/porras">porras</a></li>
  </ul>
</div>
