<div class="page-header">
  <h1><%= github_link @user.username %></h1>
</div>

<dl class="dl-horizontal">
  <% @user.contributions.each do |repo, n| %>
  <dt><%= github_link repo %></dt>
  <dd>
    <div class="progress">
      <!-- TODO: normalize bar sizes to max contributor -->
      <div class="bar" style="width: <%= normalize(n, @user.max_commits) %>%;"><%= commits_link repo, @user.username, n %></div>
  </div>
  </dd>
  <% end %>
</dl>
