<div class="page-header">
  <h1><%= github_link @user.username %></h1>
</div>

<dl class="dl-horizontal">
  <% @user.contributions.each do |repo, n| %>
  <dt><%= github_link repo %></dt>
  <dd>
    <div class="progress">
      <!-- TODO: normalize bar sizes to max contributor -->
      <div class="bar" style="width: <%= normalize(n, @user.max_commits) %>%;"><%= commits_link repo, @user.username, n %></div>
  </div>
  </dd>
  <% end %>
</dl>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <p class="navbar-text pull-right">Miss any repo? <a href="#" id="add_repo_link">Add it yourself</a>.</p>
      <form action="/repo" method="post" class="navbar-form pull-right" style="display:none" id="add_repo">
        <input type="text" name="repo" class="search-query" placeholder="user/repo"/>
        <input type="submit" value="Add" class="btn btn-primary btn-mini"/>
      </form>
    </div>
  </div>
</div>
